.border-right {
  border-right: none !important;
}

.border-left {
  border-left: none !important;
}

.cc-container {
  display: inline-block;
  width: 280px;
}

.cc-button {
  width: 100%;
}

/* .logo-title {
  width: 100%;
  position: relative;
}

.logo-title > .invest {
  font-size: 26px;
  font-weight: 900;
  font-style: normal;
}

.logo-title > .flex {
  font-size: 26px;
  font-style: italic;
}

.logo-title > small {
  position: absolute;
  right: 21px;
  bottom: 9px;
  font-size: 18px;
} */

/* @media screen and (max-width: 992px) {
  .logo-title {
    width: auto;
    position: relative;
  }

  .logo-title > small {
    position: absolute;
    right: -16px;
    bottom: 9px;
    font-size: 18px;
  }
} */

.logo-title > .img-fluid {
  width: 250px !important;
  margin-top: -10px !important;
}

.exp-wrapper {
  position: relative;
  display: flex;
  width: 300px;
  justify-content: space-around;
  height: 36px;
  line-height: 36px;
  font-size: 24px;
}

.exp-wrapper:after {
  content: '/';
  position: absolute;
  left: 50%;
  margin-left: -4px;
  color: #aaa;
}

input.exp {
  float: left;
  font-family: monospace;
  border: 0;
  width: 18px;
  outline: none;
  appearance: none;
  font-size: 14px;
}
