.border-right {
  border-right: none !important;
}

.border-left {
  border-left: none !important;
}

.cc-container {
  display: inline-block;
  width: 280px;
}

.cc-button {
  width: 100%;
}

.logo-title {
  margin-top: 10px !important;
}

.logo-title > .img-fluid {
  padding-top: 10px;
  width: 250px !important;
  margin-top: -20px !important;
}

@media screen and (max-width: 992px) {
  .logo-title > .img-fluid {
    padding-top: 0px;
    width: 250px !important;
    margin-top: -20px !important;
  }
}

.exp-wrapper {
  position: relative;
  display: flex;
  width: 300px;
  justify-content: space-around;
  height: 36px;
  line-height: 36px;
  font-size: 24px;
}

.exp-wrapper:after {
  content: '/';
  position: absolute;
  left: 50%;
  margin-left: -4px;
  color: #aaa;
}

input.exp {
  float: left;
  font-family: monospace;
  border: 0;
  width: 18px;
  outline: none;
  appearance: none;
  font-size: 14px;
}
